.login-form {
    background: #201827;
    display: flex;
    height: 100vh;
    min-height: 850px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -85px;
}

.login-form .ant-form-item {
    margin-bottom: 10px;
}

.login-form .ant-card.ant-card-bordered {
    width: 100%;
}

.login-form .ant-card-body {
    padding: 0;
}

.login-form .auth-container button.ant-btn.ant-btn-background-ghost {
    width: 100%;
    margin: 10px 0;
}

.auth-container {
    padding: 24px;
    z-index: 1;
}

.login-form .login-form-button {
    width: 100%;
}

.login-form, .login-form h2 {
    color: #ffffff;
}

.login-form::before {
    background-image: url(/assets/img/hero-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

.login-form .terms_and_conditions {
    max-width: 500px;
    opacity: 0.5;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
}

@media only screen and (min-width: 991px) {
    .login-form::before {
        left: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .login-form::after {
        background: rgba(32, 24, 39, 0.5);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .login-form {
        margin-bottom: -97px;
    }
}

@media only screen and (max-width: 540px) {
    .login-form {
        margin-bottom: -150px;
    }
    .login-form .terms_and_conditions {
        font-size: 13px;
    }
}

.sign-in {
    opacity: 0.75;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 10px;
}

.start-earning-on-you {
    opacity: 0.5;
    font-size: 16px;
    color: #ffffff;
}

.ant-input-affix-wrapper .ant-input {
    height: 52px;
}

.login-form .ant-btn-primary {
    height: 48px;
    background-color: #36cbcbbf;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 10px;
}

.login-form .login-with-facebook {
    height: 48px;
    color: #ffffff;
    background-color: #3b5998;
    border: #3b5998;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.login-form .login-with-instagram {
    height: 48px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-image: linear-gradient(to top, #a8399b, #d02474);
    border: #36cbcbbf;
}

.login-form .forgot-password {
    opacity: 0.75;
    font-size: 14px;
    color: #ffffff;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 50px;
}

.logo-container h1 {
    color: rgba(255, 255, 255, 0.6);
}

.btn-forgot-password {
    height: 36px;
    width: 100%;
}

.login-container .ant-alert.ant-alert-success.ant-alert-banner {
    background-color: #00d3a7;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.login-container .ant-alert-success .ant-alert-icon,
.login-container span.ant-alert-message,
.login-container .ant-alert-close-icon .anticon-cross {
    color: #ffffff;
}

.login-container .ant-spin-nested-loading > div > .ant-spin {
    height: 90vh;
    max-height: 100%;
}